#top{
    background-color: aqua;
    position: fixed;
    height: 50px;
    width: 100%;
}
#div1{
    background-color: brown;
    height: 300px;
    position: sticky;
    top: 40px;
}
#div2{
    background-color: blue;
    height: 300px;
}
#div3{
    background-color: orangered;
    height: 300px;
}